// Eric Meyer reset file (meyer-reset)
@import 'other/reset';

$light-text: #999;
$background-color: #fffffa;

body, html {
	background-color: $background-color;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;;
	height: 100%; // needed for full-size canvas
	margin: 0;
	overflow: hidden; // to remove scrollbar
	padding: 0;
	width: 100%; // needed for full-size canvas
}

button {
	background-color: $background-color;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
}

input, button, .controls {
	color: #999;
}

.controls {
	font-size: 14px;
	margin: 10px 10px 0px 0px;
	position: absolute;
	right: 0;
	top: 0;
}