// Eric Meyer reset file (meyer-reset)
@import 'other/reset';

.test {
	width: percentage(5/9);
}

body {
	width: 100%;
	height: 100%;
	background-color: blanchedalmond;
}
.container {
	/*background-color: blue;*/
	/*height: 100vh;*/
	/*width: 100%;*/
}